body{
    background-color: black;
    overflow-x: hidden;
    overflow-y: hidden;
}
body, div, a, span {
    cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=), none;
}